@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem
  }
  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%
  }
}
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.input{
  /* border: 2px solid black; */
  border-radius: 23px;
  padding: 7px;
}
button[type=submit]{
  /* @apply bg-blue-300 hover:bg-blue-400; */
  padding: 5px;
  color: white;
  text-transform: uppercase;
}
.form{
  @apply  h-full 
}


.shapedividers_com-1938{
  overflow:hidden;
  position:relative;
  }
  .shapedividers_com-1938::before{
  content:'';
  font-family:'shape divider from ShapeDividers.com';
  position: absolute;
  bottom: -1px;
  left: -1px;
  right: -1px;
  top: -1px;
  z-index: 3;
  pointer-events: none;
  background-repeat: no-repeat; 
  background-size: 286px 100%;
  background-position: 100% 50%;    
  background-image: url('data:image/svg+xml;charset=utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2.17 35.28" preserveAspectRatio="none"><path d="M1.67 0c-.55 3.07.41 9.27 0 16.14-.4 6.88-.58 13.75.1 19.14h.4V0z" fill="%23fbd8c2"/><path d="M1.16 0c-.8 3.17.4 7.29.56 10.04C1.89 12.8.25 19.3.42 22.71c.16 3.43.84 4.65.86 7.05.03 2.4-.88 5.52-.88 5.52h1.77V0z" opacity=".5" fill="%23fbd8c2"/><path d="M.31 0c.84 2.56.3 7.68.43 11.79.12 4.1.61 6.86.28 9.58-.33 2.73-1.18 5.61-1 8.61.19 3 .82 4.73.84 5.3h1.2V0z" opacity=".5" fill="%23fbd8c2"/></svg>'); 
  }
  
  @media (min-width:768px){
  .shapedividers_com-1938::before{
  background-size: 286px 100%;
  background-position: 100% 50%;   
  background-image: url('data:image/svg+xml;charset=utf8, <svg preserveAspectRatio="xMinYMid slice" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 84 2000.4"><g fill="%23fbd8c2"><path d="M35 63h38l1-1 10-17V16L75 0H34L16 30l19 33z" opacity=".5"/><path d="M54 133h30V74H54l-17 30 17 29z"/><path d="M24 284h49l1-2 5-8 5-9v-45l-9-15-1-2-1-2H24L0 242l24 42zM40 157H20l-10-17 10-18h20l10 18-10 17z" opacity=".75"/><path d="M25 189H12l-6-10 6-11h13l6 11-6 10z"/><path d="M52 205h32v-59H52l-17 29 15 26 2 4z" opacity=".5"/><path d="M75 186h9v-59h-9l-1 3-2 3-7 13-6 11 15 27 1 2zM34 99H15L6 82l9-16h19l10 16-10 17zM41 340h38l5-8v-50l-5-8H41l-6 10-13 23 19 33z"/><path d="M60 410h24v-59H60l-17 29 17 30z" opacity=".5"/><path d="M30 569h49l3-5 2-4v-66l-3-5-2-4H30L6 527l21 37 3 5zM46 433H26l-10-17 10-17h20l10 17-10 17zM31 466H18l-6-11 6-11h13l6 11-6 11z"/><path d="M56 496h28v-63H56l-18 31 16 28 2 4z"/><path d="M82 463h2v-59h-2l-4 6-4 7-3 5-6 11 9 17 8 13z"/><path d="M40 375H21l-9-16 9-17h19l10 17-10 16z" opacity=".5"/><path d="M41 837h38l5-8v-50l-5-8H41l-19 33 19 33zM46 677H26l-10 18 10 17h20l10-17-10-18z"/><path d="M31 645H18l-6 10 6 11h13l6-11-6-10z" opacity=".5"/><path d="M17 546H6l-6 9 6 10h11l5-10-5-9z" opacity=".75"/><path d="M58 688h26v-58H58l-2 4-15 25 17 29z"/><path d="M82 707h2v-59h-2l-8 13-9 16 6 11 3 6 4 7 4 6z"/><path d="M82 791h2v-58h-2l-8 13-9 16 6 11 3 5 4 8 4 5z" opacity=".5"/><path d="M40 736H21l-9 16 9 16h19l10-16-10-16z"/><path d="M37 918h38l9-16v-35l-9-15H37l-19 33 19 33z" opacity=".75"/><path d="M55 988h29v-59H55l-17 29 17 30z"/><path d="M26 1139h48l6-11 4-6v-50l-7-13-3-4H26l-24 42 24 42z" opacity=".5"/><path d="M42 1011H22l-10-17 10-17h20l10 17-10 17zM24 858H9l-8-14 8-13h15l8 13-8 14z" opacity=".75"/><path d="M84 868v-39l-10 17-1 2 1 3 10 17zM76 293h8v-39h-8l-2 3-9 17 9 16 2 3zM76 359h8v-39h-8l-2 3-9 17 9 16 2 3zM84 226v-38l-10 17-1 2 1 2 10 17zM84 81V43L74 60l-1 2 1 2 10 17zM84 940v-39l-10 17-1 2 1 3 10 17zM75 1081h9v-39h-9l-1 3-10 16 10 17 1 3zM84 1147v-38l-10 17-1 2 1 2 10 17zM84 1642v-39l-10 17-1 2 1 3 10 17zM67 1722h17v-38H67l-11 19 11 19zM77 1794h7v-38h-7l-3 5-8 14 5 8 3 6 3 5zM26 1044H14l-7-11 7-11h12l6 11-6 11z"/><path d="M54 1059h30v-59H54l-17 30 15 25 2 4z"/><path d="M77 1041h7v-59h-7l-3 5v1l-8 12-6 11 14 24 3 6z"/><path d="M36 953H17L7 937l10-17h19l9 17-9 16z" opacity=".5"/><path d="M43 1194h38l3-5v-56l-3-5H43l-6 11-13 22 19 33z"/><path d="M61 1264h23v-59H61l-17 30 17 29zM32 1415h48l3-5 1-1v-71l-1-3-3-4H32l-24 42 21 37 3 5zM48 1288H28l-10-18 10-17h20l10 17-10 18z" opacity=".5"/><path d="M32 1320H20l-6-10 6-11h12l6 11-6 10zM60 1335h24v-58H60l-17 29 15 25 2 4z"/><path d="M83 1317h1v-59h-1l-3 6-6 10-2 3-6 11 8 13 9 16zM83 1222h1v-59h-1l-3 6-6 10-2 3-6 11 8 13 9 16z"/><path d="M42 1230H23l-9-17 9-16h19l9 16-9 17z" opacity=".75"/><path d="M43 1691h38l3-5v-55l-3-5H43l-19 32 19 33z" opacity=".5"/><path d="M61 1614h23v-59H61l-17 30 17 29zM32 1488h48l3-4 1-2v-71l-1-1-3-6H32l-3 6-21 36 24 42z"/><path d="M48 1532H28l-10 17 10 17h20l10-17-10-17z" opacity=".75"/><path d="M32 1499H20l-6 11 6 11h12l6-11-6-11z" opacity=".5"/><path d="M18 1400H7l-5 10 5 9h11l6-9-6-10z"/><path d="M60 1543h24v-59H60l-2 4-15 25 17 30z" opacity=".75"/><path d="M83 1561h1v-59h-1l-9 16-8 14 6 11 2 2 6 10 3 6z" opacity=".75"/><path d="M42 1590H23l-9 16 9 17h19l9-17-9-16z" opacity=".5"/><path d="M41 1772h38l5-8v-50l-5-8H41l-19 33 19 33z"/><path d="M60 1842h24v-59H60l-17 30 17 29z" opacity=".5"/><path d="M30 1988h49l5-10v-65l-3-5-2-4H30l-24 42 24 42zM46 1866H26l-10-17 10-18h20l10 18-10 17z"/><path d="M30 1898H18l-6-10 6-11h12l7 11-7 10zM17 1997H6l-6-9 6-10h11l5 10-5 9z" opacity=".5"/><path d="M58 1913h26v-58H58l-17 29 15 25 2 4z" opacity=".75"/><path d="M81 1895h3v-59h-3l-3 6-4 7-3 6-7 11 10 16 7 13zM75 2000h9v-42l-5 4-5 5-11 9 6 12 3 7 2 3 1 2z"/><path d="M40 1808H21l-9-17 9-16h19l9 16-9 17z" opacity=".75"/><path d="M29 1709H14l-7-13 7-12h15l7 12-7 13z"/><path d="M30 634h49l2-4 3-5v-66l-2-4-3-5H30l-3 5-21 37 24 42z" opacity=".75"/><path d="M74 3l-1-2V0h11v20L74 3z"/><path d="M60 760h24v-59H60l-17 29 17 30z" opacity=".5"/></g></svg>'); 
  }  
  }
   
  @media (min-width:1025px){
  .shapedividers_com-1938::before{ 
  bottom: -0.1vw;
  left: -0.1vw;
  right: -0.1vw;
  top: -0.1vw; 
  background-size: 286px 100%;
  background-position: 100% 50%;  
  }
  }
  
  .custom-shape-divider-top-1729225343 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1729225343 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 500px;
    transform: rotateY(180deg);
}

.custom-shape-divider-top-1729225343 .shape-fill {
    fill: #FFFFFF;
}
   